@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    z-index: 999;
    position: fixed;
    background-color: #F7F7F7;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.header img {
    height: 70px;
}

.header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    /* font-weight: bolder; */
    line-height: 20px;
    /* text-transform: uppercase; */
    margin: 0 10px;
    padding: 25px 20px;
    color: #080e32;
    /* border-radius: 20px; */
    transition: 0.3s;
    transition-property: color, background-color;
}

.header .menu a:hover {
    color: #F78F20;
}
.header .menu .active {
    color: #F78F20;
}

/* .header a>.menu>.active {
    color: #F78F20;
} */

.header .toggle {
    color: #254090;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.header .toggle .close-btn{
    color: #FFFFFF;
}

.landing {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.landing .home {
    padding: 0 140px;
    margin: 100px auto 0px 60px;
    color: #f7f7f7;
    letter-spacing: 5px;
}

.landing .home p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding-bottom: 60px;
}

.landing .home h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 42px;
}
.call {
    position: relative;
    width: 100%;
    min-height: auto; 
}
/* .call h1 {
    width: 50%;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #080e32;
    margin: 30px 0px 10px 200px;
} */
.call .objective {
    background-color: #254090;
    height: auto;
    padding-bottom: 20px;
}
.call .objective h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    padding: 40px 0px 20px 200px;
    color: #F78F20;
}
.call .objective .detailed {
    display: flex;
    flex-direction: row;
    margin: 20px 80px 40px 200px;
}
.call .objective .detailed p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 80px 0px 0px 40px;
}
.call .objective .detailed img {
    width: 48%;
    border-radius: 2%;
}
.sata-vision {
    position: relative;
    width: 100%;
    min-height: auto; 
}
.sata-vision .vision {
    background-color: #ddd;
    width: 100%;
    /* height: auto; */
}.sata-vision .vision .detailed p{
    width: 90%;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 80px 0px 20px 0px;
    padding: 20px 0px 30px 200px;
    color: #000000;
    text-align: justify;
}
.sata-vision .vision .detailed p span {
    color: #F78F20;
}
.sata-vision .vision .detailed {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.sata-vision .vision .detailed img {
    width: 50%;
    /* height: 400px; */
    /* padding: 20px 0px 20px 40px; */
    padding-left: 40px;
}
.strategy {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}
.strategy .strategy {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 20px 40px 0px 200px;
}
.strategy .strategy h1 {
    margin: 200px 20px 0px 0px;
    font-family: 'Nunito', sans-serif;
    color: #254090;
    font-size: 36px;
}
.strategy .strategy img{
    width: 60%;
}
.mob-about {
    display: none;
}

.about {
    position: relative;
    width: 80%;
    min-height: auto;
    display: flex;
    flex-direction: row;
    margin: 30px 40px 40px 200px;
}

.about .about-passion {
    width: 65%;
    height: auto;
}

.about .about-passion h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #254090;
}
.about .about-fav p {
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    line-height: 25px;
    color: #4b5280;
    text-align: justify;
    /* align-items: center; */
}

.about .about-fav p span {
    color: #F78F20;
}
.about .about-img {
    background-image: url('../img/digitalbck.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 60%;
    border-radius: 10px;
    margin: 60px 80px auto 60px;
    padding: 40px 20px 20px 30px;
    text-align: center;

}
.about .about-img p {
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: bold;
    color: #254090;
    padding-bottom: 20px;
}
.about .about-img span {
    /* padding: auto; */
    font-size: 18px;
    color: #254090;
    font-style: italic;
    padding-bottom: 20px;
}

.benefit {
    width: 80%;
    margin: 0px auto 0px 200px;
    
}
.benefit img {
    border-radius: 5px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;
}
.benefit h2 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    /* font-weight: 0; */
    color: #080e32;
    margin-bottom: 40px;
}
.benefit .list {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    margin: 10px 80px 40px 0px; 
    /* padding-top: 20px; */
}

.list .category{
    height: auto;
    width: auto;
    padding: 20px 0px 10px 20px;
    /* text-align: center; */
}
.list .category a{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #FFFFFF;
    text-transform: uppercase;
}
.list .category a:hover {
    color: #F78F20;
}
.list .category:nth-child(2) a:hover{
    color: #080e32;
}
.list .category:nth-child(1) {
    background-color: #254090;
}

.list .category:nth-child(2) {
    background-color: #F78F20;

}

.list .category:nth-child(3) {
    background-color: #10a680;
}

.list .category:nth-child(4) {
    background-color: #254090;
    /* padding-top: 60px; */
}
.contact-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 100px;
}

.contact-us::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    z-index: -1;
}

.contact-us .contact {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #254090;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-us .contact .content-info {
    height: 100%;
    background: url(../img/contact_us.jpeg) no-repeat center;
    background-size: cover;
}

.contact-us .contact .content {
    padding: 25px 40px;
}

.contact-us .contact .content h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #F7F7F7;
    font-family: 'Open Sans', sans-serif;
}

.contact-us .contact .content h2:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.contact-us .contact .content .field {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    background-color: rgb(230, 230, 230, 0.6);
    font-size: 16px;
    margin-bottom: 20px;
    transition: .3s;
}

.contact-us .contact .content .field:hover {
    background-color: rgba(0,0,0,0.1);
}

.contact-us .contact .content .field:focus {
    background-color: #f7f7f7;
    border: 2px solid rgb(30, 85, 250, 0.47);
}

.contact-us .contact .content .area {
    min-height: 150px;
}

.contact-us .contact .content .btn {
    width: 100%;
    padding: 5px 10px;
    font-family: 'Open Sans', 'Sans serif';
    font-size: 18px;
    font-weight: 500;
    background-color: #ddd;
    color: #000000;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    border-radius: 5px;
}

.alert {
    padding: 1.2rem 2rem;
    border-radius: 3px;
    margin: 2rem 0;
}

.alert-success {
    background-color: #c6f6d5;
    color: #22543d;
    display: none;
}

.contact-details {
    background-color: #254090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;

}

.contact-details h1 {
    font-size: 36px;
    padding: 40px;
}

.contact-details table {
    min-height: 50px;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

td, p {
    font-size:18px;
}
table, th, td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-size: 22px;
    font-weight:bold;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #254090;
}
.footer .footer-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'Sans serif';
    padding: 10px;
}

.footer .footer-col img {
    width: 50px;
    margin-right: 20px;
}
.footer .vl {
    border-left: 2px solid #F7F7F7;
    height: 50px;
    padding-right: 60px;
}
.footer .footer-col h4{
    font-size: 24px;
    color: #F7F7F7;
    text-transform: uppercase;
    padding-right: 40px;
}
.mob-call {
    display: none;
}
.mob-sata-vision {
    display: none;
}
.mob-strategy {
    display: none;
}
/* .footer .footer-col a{
    width: 30%;
    font-size: 16px;
    text-transform: capitalize;
    color: #a5a1a1;
    font-weight: 300;
    padding-left: 20px;
    display: block;
    transition: all 0.3s ease;
}

.footer .footer-col a:hover {
    padding-left: 0px;
} */

.footer .footer-col .social-links {
    margin: 0 0px 0px 20px;
}
.footer .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #191919;
    margin: 0 10px 0px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f7f7f7;
    transition: all 0.3s ease;
}

.footer .footer-col .social-links a:hover {
    color: #191919;
    background-color: #F7F7F7;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 920px){
    .header {
        padding: 0px;
        height: 60px;
    }
    .header img {
        height: 50px;
        margin-left: 10px;
    }
    .header .toggle{
        display: block;
    }

    .header .menu {
        position: fixed;
        background-color: #080e32;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 10px 20px;
        transition: all 0.4s ease-in-out;
    }

    .header .menu.active {
        right: 0;
    }

    .header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
    }

    .header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
        color: #FFFFFF;
    }
    .landing .home {
        padding: 40px 20px;
        margin: 20px auto 0px 0px;
        padding: 40px 20px;
        margin-top: 20px;
    }
    
    .landing .home p {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        margin-top: 40px;
        padding-bottom: 30px;
    }
    
    .landing .home h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .benefit {
        display: none;
    }
    .about{
        display: none;
    }
    .details {
        display: none;
    }
    .call {
        display: none;
    }
    .strategy {
        display: none;
    }
    .sata-vision {
        display: none;
    }
    .contact-us {
        display: none;
    }
    /* Mob about */
    .mob-about {
        position: relative;
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
    }
    
    .mob-about .about-passion {
        width: 90%;
        height: auto;
        margin: 10px 20px;
        /* padding: 10px 10px; */
    }
    
    .mob-about .about-passion h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        font-weight: 800;
        color: #080e32;
    }
    .mob-about .about-fav p {
        font-family: 'Nunito';
        padding-top: 10px;
        font-size: 15px;
        line-height: 25px;
        align-items: center;
        color: #4b5280;
        text-align: justify;
    }
    
    .mob-about .about-fav p span {
        font-size: 18px;
        color: #F78F20;
    }
    .mob-about .details {
        width: 90%;
        height: auto;
        margin: 10px 20px;
    }
    .mob-about .details h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        font-weight: 800;
        color: #080e32;
        margin: 10px 20px 0px 0px;
    }
    .mob-about .details img {
        border-radius: 5px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 100%;
    }
    .mob-about .list {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        margin: 20px 0px 40px 20px;
    }
    .mob-about .list .category{
        height: 10vh;
        width: 100%;
        align-items: center;
        /* padding: 10px 5px 5px 0px; */
    }
    .mob-about .list .category a{
        width: 50%;
        font-size: 16px;
        text-transform: uppercase;
    }
    .mob-about .list .category a:hover{
        color: #000000;
    }
    .mob-call {
        position: relative;
        width: 100%;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
    }
    .mob-call .objective {
        background-color: #254090;
        height: auto;
    }
    .mob-call .objective h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        padding: 10px 0px 0px 20px;
        color: #F78F20;
    }
    .mob-call .objective .detailed {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    .mob-call .objective .detailed p{
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        text-align: justify;
        padding-top: 10px;
    }
    .mob-call .objective .detailed div{
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        text-align: justify;
        padding-bottom: 10px;
    }
    .mob-call .objective .detailed img {
        width: 100%;
        border-radius: 2%;
    }
    .mob-sata-vision {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .mob-sata-vision .vision {
        background-color: #ddd;
        width: 100%;
        /* height: auto; */
    }.mob-sata-vision .vision .detailed p{
        width: 90%;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        margin: 20px 10px;
        color: #000000;
        text-align: justify;
    }
    .mob-sata-vision .vision h2{
        width: 90%;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        margin: 20px 10px;
        color: #254090;
        text-align: justify;
    }
    .mob-sata-vision .vision .detailed p span {
        color: #F78F20;
    }
    /* .mob-about .list .category:nth-child(1) {
        background-color: #254090;
        padding-top: 10px;
    }
    
    .mob-about .list .category:nth-child(2) {
        background-color: #F78F20;
        padding-top: 40px;
    }
    
    .mob-about .list .category:nth-child(3) {
        background-color: #10a680;
        padding-top: 40px;
    }
    
    .mob-about .list .category:nth-child(4) {
        background-color: #254090;
        padding-top: 50px;
    } */
    .mob-about .about-img {
        background-image: url('../img/digitalbck.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        max-width: 100%;
        border-radius: 10px;
        margin: 20px 0px 10px 0px;
        padding: 20px 20px 20px 10px;
        text-align: center;
    
    }
    .mob-about .about-img p {
        font-size: 18px;
        font-weight: bold;
        color: #254090;
        padding-bottom: 20px;
    }
    .mob-about .about-img span {
        /* padding: auto; */
        font-size: 16px;
        color: #254090;
        font-style: italic;
        padding-bottom: 20px;
    }
    .mob-strategy {
        position: relative;
        width: 100%;
        min-height: 60vh;
    }
    .mob-strategy .strategy {
        padding: 20px 40px;
    }
    .mob-strategy .strategy h1 {
        font-size: 22px;
    }
    .mob-strategy .strategy img {
        width: 40%;
    }
    .footer {
        padding: 20px 20px;
    }
    .footer .footer-col {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer .footer-col ul li a{
        width: 10%;
    }
    .footer .footer-col h4{
        font-size: 14px;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
}